<div class="container">
  <div class="card-container">
    <div class="card" *ngFor="let comic of comics">
      <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ comic.title }}</h5>
        <p class="card-text">{{ comic.description }}</p>
        <!-- Outras informações do quadrinho que deseja exibir -->
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary mr-2" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <button class="btn btn-primary" (click)="nextPage()">Próxima</button>
      <select class="form-control ml-2" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>
</div>
