<footer class="footer">
    <div class="button-list">
      <a href="https://disneytermsofuse.com/spanish-latin-american/" target="_blank"><button>Terms of Use</button></a>
      <a href="https://privacy.thewaltdisneycompany.com/es-es/politica-de-privacidad/" target="_blank"><button>Privacy Policy</button></a>
      <a href="https://preferences-mgr.truste.com/?type=disneycolor&affiliateId=115" target="_blank"><button>Interest-Based Ads</button></a>
      <a href="https://privacy.thewaltdisneycompany.com/pt-br/nossa-politica-de-privacidade/protecao-de-dados-no-brasil/" target="_blank"><button>Data Protection in Brazil</button></a>
      <a href="https://www.marvel.com/corporate/license_tou" target="_blank"><button>License Agreement</button></a>
    </div>
    <div class="copyright">
      <span>©2024 MARVEL-NTT</span>
    </div>
</footer>
  