<div class="container" [ngClass]="{ 'expand': isExpandedImage }">
  <app-go-back></app-go-back>
  <div class="card" *ngIf="!isExpandedImage">
      <div>
        <img 
            [src]="comicImage" 
            alt="Comic Image" 
            class="img-fluid clickable" 
            (click)="expandImage()"
        >
      </div>
      <div class="title-description">
          <h2>{{ comicTitle }}</h2>
          <p>{{ comicDescription }}</p>
      </div>
  </div>
  <div class="expanded-image" *ngIf="isExpandedImage" (click)="closeExpandedImage()">
      <img [src]="comicImage" alt="Comic Image" class="img-fluid">
  </div>
  <app-details-list *ngIf="comicId" [comicId]="comicId"></app-details-list>
</div>

<div *ngIf="loadingData" class="loading">
    <app-loading></app-loading>
</div>