<div class="container" [ngClass]="{ 'expand': isExpandedImage }">
  <div class="card" *ngIf="!isExpandedImage">
      <div>
          <img [src]="characterImage" alt="Character Image" class="img-fluid clickable" (click)="expandImage()">
      </div>
      <div class="title-description">
          <h2>{{ characterTitle }}</h2>
          <p>{{ characterDescription }}</p>
          <button (click)="goBack()"><img src="assets/btns/go-back.png"></button>
      </div>
  </div>
  <div class="expanded-image" *ngIf="isExpandedImage" (click)="closeExpandedImage()">
      <img [src]="characterImage" alt="Character Image" class="img-fluid">
  </div>
</div>
