.container
  width: 90vw
  min-height: 100vh
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 

.filter
  width: 90%
  padding: 22px 2px
  display: flex
  justify-content: space-between

  .container-filter, .container-paginator
    width: 33%
    display: flex
    align-items: center
      
  .container-filter
    justify-content: center
    
  .container-paginator   
    justify-content: flex-end

  .input
    display: flex
    
    select 
      height: 28px
      width: 250px
      padding: 6px
      margin: 6px
      border-radius: 12px

      option
        border-radius: 12px


  .input-group
    select
      height: 30px
      width: 40px
      margin-left: 6px
      border-radius: 8px

  .btn-filter
    padding: 6px
    margin: 6px
    border-radius: 50%
    border: none
    transition: background-color 0.3s   

    img
      width: 14px

    &:hover
      background-color: #e6e5e5

    &.mr-2
      margin-right: 0

    &.qtd
      width: 60px
      font-size: 15px

  .btn-primary
    padding: 2px
    border-radius: 2px
    border: solid black 1px
    transition: background-color 0.3s
    
    img
      width: 20px


.card-container
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  gap: 20px
  width: 100%
  cursor: pointer

.card
  width: calc(33.333% - 20px)
  margin-bottom: 20px
  box-sizing: border-box
  text-align: center
  transition: transform 0.3s ease
  background-color: #f9f9f9 
  border-radius: 12px

  .card-img-container
    height: 300px
    overflow: hidden
    border-radius: 12px 12px 0 0

    .card-img-top
      width: 100%
      object-fit: cover

  .card-body
    padding: 15px

    .card-title
      font-size: 18px
      font-weight: bold

    .card-text
      font-size: 14px

    .btn
      font-size: 16px

    &:hover
      transform: scale(1.05)

.back-button
  width: 33%

  button
    border-radius: 50%
    transition: background-color 0.3s

    &:hover
      background: linear-gradient(to right, #d7d7d7, #c7c7c7)
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75)

  img
    width: 30px

.input-group
  display: flex
  align-items: center

  .page-numbers
    display: flex
    margin: 0 10px

    .page-number
      padding: 5px 10px
      margin: 0 2px
      border: 1px solid #7d7d7d
      border-radius: 4px
      cursor: pointer
      transition: background-color 0.3s

      &.active
        background-color: #7d7d7d
        color: #fff
        border-color: #7d7d7d

      &:hover
        background-color: #f8f9fa
